nav{
    width: 80%;
    display: flex;
    justify-content: space-around;
    float: left;
    margin: auto;
    margin-left: 10%;
    background-color:#cf7456;
    margin-bottom: 2%;
    padding-bottom: 1%;
    /* position: fixed; */
}
#photo{
    width: 100%;
    width: 40%;
}
#photo1{
    width: 50px;
    height: 70%;
    align-self:center;
    margin-top: 15px;
}
#log{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
#search{
    width: 80%;
    margin-top: 3%;
    margin-right: 10%;
}
#log2{
    width: 25%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2%;
}
